*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header h3{
    width: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 20px;

}

header nav{
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
}

header nav a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .login{
    width: 15%;
    display: flex;
    justify-content: center;
     align-items: center;

}

header button{
    width: 50%;
    height: fit-content;
    background-color:transparent ;
    padding: 10px;
    border: 1px solid black;
}

.banner{
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 60px;
    animation: shopintin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
 
}



.banner .banner-section-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    
}

.banner .banner-section-one h2{
    width: 50%;
    font-size: 80px;
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.banner .banner-section-one .view-details{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.banner .banner-section-one button{
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    border: 1px solid lightskyblue;
}

.banner-section-two{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0;
}

.banner-section-two .image{
    width: 250px;
    height: 200px;
    transform: rotate(15deg);
}

.banner-section-two .image-section{
    width: 50%;
    display: flex;
    gap: 0 30px;
    justify-content: center;
    align-items: center;
}

.banner-section-two .image-section img{
    width: 150px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
}

.banner-section-two .image-section .sneaker{
    width: 126px;
    height: 100px;
    border: 1px solid orangered;
}

main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .first-h3{
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

main .first-main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px 0;
} 

main .first-main .row-one{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 70px;
}

main .first-main h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    font-size: 15px;


}

main .first-main .row-one img{
    width: 250px;
    height: 200px;
    padding: 20px;
    border: 1px solid lightskyblue;
}

main .first-main .row-two{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 70px;
}

main .first-main .row-two img{
    width: 250px;
    height: 200px;
    padding: 20px;
    border: 1px solid lightskyblue;
}

main .second-h3{
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

main .second-main{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 30px;
}

main .second-main .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
    padding: 20px;
}

main .second-main .left img{
    width: 300px;
    height: 200px;
}

main .second-main .left button img{
    width: 30px;
    height: 30px;
}

main .second-main .left button{
    width: 40%;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 30px;
    cursor: pointer;
}

main .second-main .right{
    width: 35%;
    height: fit-content;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px 0;
    padding: 30px;
    margin: 20px;
}

main .second-main .right h4{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orangered;
}

main .second-main .right p{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .second-main .right button{
    width: fit-content;
    padding: 10px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}

main .third-h3{
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

main .third-main{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

main .third-main img{
    width: 500px;
    height: 300px;
}

main .third-main .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .third-main .right h3{
    width: 100%;
    color: orangered;
}

footer{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 13px;
}



























@media(max-width: 720px){
    body{
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    header{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px 0;
    }

    header h3{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    header nav{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 20px;
    }

    header nav a{
        font-size: small;
    }
    
    
    header .login{
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .banner{
        margin-top: 100px;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 150px 30px;
    }

    
.banner .banner-section-one{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px 0;
}

.banner .banner-section-one h2{
    width: 100%;
    font-size: 55px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .banner-section-one .view-details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.banner-section-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0;
    margin-top: 30px;
}

.banner-section-two .image{
    width: 150px;
    height: 100px;
}

.banner-section-two .image-section{
    width: 100%;
    display: flex;
    gap: 0 10px;
}

.banner-section-two .image-section img{
    width: 60px;
    height: 50px;
    margin-bottom: 10px;
}

.banner-section-two .image-section .sneaker{
    width: 60px;
    height: 50px;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 0;
}

main .first-h3{
  width: 100%;
  padding-top: 30px;
  font-size: 25px;
  margin-top: 80px;
}

main .first-main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px 0;
} 

main .first-main h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    font-size: 15px;


}

main .first-main .row-one{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;
}

main .first-main .row-one img{
    width: 80px;
    height: 70px;
    padding: 20px;
    border: 1px solid lightskyblue;
}

main .first-main .row-two{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;
}

main .first-main .row-two img{
    width: 80px;
    height: 70px;
    padding: 20px;
    border: 1px solid lightskyblue;
}

main .second-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
 
    
}

main .second-main .left, main .second-main .right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .second-main .left img{
    width: 200px;
}


main .second-main .left button{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap:0 40px;
     font-size: 11px;

}

main .second-main .right p{
    width: 100%;
    font-size: 14px;
    
}

.third-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px 0;
}

.third-main .map{
    width: 85%;
    height: 50%
}

footer{
    width: 100%;
    height: 20px;
    font-size: 6px;
    margin-top: 10px;

}


}

@keyframes shopintin{
    0%{
        background-color: whitesmoke;
    }

    20%{
        background-color: #A5FF95;
    }

    40%{
       background-color: #FDF897;
    }

    60%{
        background-color: #FDB3C9;
    }

    80%{
       background-color: #AB9EF3;
    }

    100%{
        background-color: #F5F5F5;
    }
}

